<!DOCTYPE html>
<html>
  <head>
    <title>Loading...</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <script src="https://static.line-scdn.net/liff/edge/versions/2.5.0/sdk.js"></script>

    <% asset_application_js_path = Dir.glob("#{Rails.root}/app/assets/javascripts/application.*").first %>
    <% if asset_application_js_path.present? %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <% webpacker_application_js_path = Dir.glob("#{Rails.root}/app/javascript/packs/application.*").first %>
    <% if webpacker_application_js_path.present? %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <% has_jquery = [asset_application_js_path, webpacker_application_js_path].compact.map do |path|
      (File.read(path) =~ /jquery/i).present?
    end.any? %>

    <% unless has_jquery %>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
      function liff_send_text_message(text){
        liff.sendMessages(
          [
            {
              type: 'text',
              text: text
            }
          ]
        ).then(function(){
          liff.closeWindow();
        })
        .catch(function(error){
          alert('user doesn’t grant required permissions yet.');
        });
      }

      function register_kamiliff_submit(){
        function dispatch_liff_event(data){
          var event = new CustomEvent('liff_submit', { 'detail': data });
          window.dispatchEvent(event);
        }
        $('input[type="submit"]').click(function(e){
          e.preventDefault();
          dispatch_liff_event(get_request_text($("form")));
        })

        function get_request_text(form_element){
          var data = get_form_data(form_element);
          var method = form_element.attr("method").toUpperCase();
          var url = form_element.attr("action");
          return {
            data: data,
            method: method,
            url: url
          }
        }

        function get_form_data(form_element){
          var excpet = ["utf8","authenticity_token"];
          var form = form_element.serializeArray();
          form = form.filter(function(a){ return !excpet.includes(a.name) })
          var data = {}
          form.forEach(function(a){ set_object_value(data, a.name, a.value) })
          return data;
        }

        function set_object_value(object, path, value){
          var o = object;
          var p = path.replace(/(\]\[)/g, "[").replace(/]$/g, "").split("[")
          var last_key = p.pop();
          p.forEach(function(key){
            o[key] = o[key] || {}
            o = o[key]
          })
          o[last_key] = value;
        }
      }
    </script>

    <%= yield(:js) %>
  </head>

  <body id="liff_body" class="bg-info">
  </body>
</html>
